# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.15
  
jobs:
  build:
    <<: *defaults
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      # - run: npm test
      
      - persist_to_workspace:
          root: ~/repo
          paths: .
  publish-master:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run: echo "hello world"
  publish-branch:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run: rm -r ./examples
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run: ls -a
      - run: npm publish --tag pre-${CIRCLE_BRANCH}-${CIRCLE_BUILD_NUM}
      
workflows:
  version: 2
  build_and_publish:
    jobs:
      - build
      - publish-branch:
          requires:
            - build
          filters: 
            branches:
              ignore:  
                - master
      - publish-master:
          requires:
            - build          
          filters: 
            branches:
              only:  
                - master

